server:
  port: 8080

spring:
  application:
    name: API-GATEWAY-SERVICE

  security:
    oauth2:
      resourceserver:
        jwt:
          secret: ${JWT_SECRET}

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/users/**
            - Path=/vendors/**
            - Path=/auth/**


        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/product/**
            - Path=/bundles/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:63342"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true

#Exposes actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics


